.toDoList {
  border: 1px brown solid;
  font-family: "Times New Roman", Times, serif;
  margin: 25px 117px !important;
  font-size: larger !important;
  padding-left: 15px !important;
}

.clickIcon {
  text-align: center !important;
  align-items: center !important;
  margin-left: 5px !important;
}

.text {
  padding-top: 7px;
}
